<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>

<body>
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                <img src="<%= user.dp %>" width="200" alt="Profile Image">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name">
                    <%= user.username %>
                </h3>
                <div class="address">
                    <p id="state" class="state">
                        <%= user.email %>
                    </p>
                </div>
            </div>
            <a href="/logout"><div class="profile-option">
                <button class="createbtn" id="Create-post">Log Out</button>
            </div></a>
        </div>

        <div class="main-bd">
            <div class="left-side">
                <div class="profile-side">
                    <p class="mobile-no"><i class="fa fa-phone"></i> +23470xxxxx700</p>
                    <p class="user-mail"><i class="fa fa-envelope"></i> Brightisaac80@gmail.com</p>
                    <div class="user-bio">
                        <h3>Bio</h3>
                        <p class="bio">
                            Lorem ipsum dolor sit amet, hello how consectetur adipisicing elit. Sint consectetur
                            provident magni yohoho consequuntur, voluptatibus ghdfff exercitationem at quis similique.
                            Optio, amet!
                        </p>
                    </div>
                    <div class="profile-btn">
                        <button class="chatbtn" id="chatBtn"><i class="fa fa-comment"></i> Chat</button>
                        <form method="post" action="/upload" enctype="multipart/form-data">
                            <input type="file" name="image" id="">
                            <input type="submit">
                        </form>
                    </div>
                    <div class="user-rating">
                        <h3 class="rating">4.5</h3>
                        <div class="rate">
                            <div class="star-outer">
                                <div class="star-inner">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <span class="no-of-user-rate"><span>123</span>&nbsp;&nbsp;reviews</span>
                        </div>

                    </div>
                </div>

            </div>
            <div class="right-side">

                <div class="nav">
                    <ul>
                        <li onclick="tabs(0)" class="user-post active">Posts</li>
                        <li onclick="tabs(1)" class="user-review">Reviews</li>
                        <li onclick="tabs(2)" class="user-setting"> Settings</li>
                    </ul>
                </div>
                <div class="profile-body">
                    <article class="post">
                        <div class="post__image-container">
                            <img src="https://images.unsplash.com/photo-1515007901416-0b738ca9e0f8?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                                alt="An image of a Truck">
                        </div>

                        <div class="post__text-container">
                            <p class="post__description">An exploration into the truck’s polarising design.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(".nav ul li").click(function () {
            $(this)
                .addClass("active")
                .siblings()
                .removeClass("active");
        });

        const tabBtn = document.querySelectorAll(".nav ul li");
        const tab = document.querySelectorAll(".tab");

        function tabs(panelIndex) {
            tab.forEach(function (node) {
                node.style.display = "none";
            });
            tab[panelIndex].style.display = "block";
        }
        tabs(0);

        let bio = document.querySelector(".bio");
        const bioMore = document.querySelector("#see-more-bio");
        const bioLength = bio.innerText.length;

        function bioText() {
            bio.oldText = bio.innerText;

            bio.innerText = bio.innerText.substring(0, 100) + "...";
            bio.innerHTML += `<span onclick='addLength()' id='see-more-bio'>See More</span>`;
        }
        //        console.log(bio.innerText)

        bioText();

        function addLength() {
            bio.innerText = bio.oldText;
            bio.innerHTML +=
                "&nbsp;" + `<span onclick='bioText()' id='see-less-bio'>See Less</span>`;
            document.getElementById("see-less-bio").addEventListener("click", () => {
                document.getElementById("see-less-bio").style.display = "none";
            });
        }
        if (document.querySelector(".alert-message").innerText > 9) {
            document.querySelector(".alert-message").style.fontSize = ".7rem";
        }

    </script>
</body>

</html>